body {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    color: #3E332E;
    background-color: #FCF9F6;
}

button:hover {
    background-color: #EBDACA !important;
}

button {
    background-color: #AD7F58 !important;
    color: #3E332E !important;
}
