.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 15px;
    margin: 0;
    justify-content: center;
}

.product-item {
    background-color: white;
}

.product-item img{
    margin: 20px auto 0;
    max-width: 100px;
    min-width: 100px;
    display: block; 
}

.product-item h5 {
    font-size: smaller;
}

.product-item a {
    text-decoration: none;
    text-align: center;
    background-color: #F0E4D9;
    padding: 7px;
    border-radius: 0.7rem;
    color: #3E332E;
}

.product-item a:hover {
    background-color: #EBDACA;
}

.card-foot {
    background-color: #F0E4D9;
}

.page {
    width: fit-content;
    height: fit-content;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}